<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-Revision/blob/main/02_02_Python_Revision_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Functions - don't require exit conditions unlike for/while loop
#DEFINE FUNCTION - def
def India(): 
  print("India is my country")

In [ ]:
India()

India is my country

In [ ]:
def Rebecca(a,b,c):
  print("My name is", a)
  print("My roll number is", b)
  print("My place is", c)

In [ ]:
a=input("Enter your name")
b=int(input("Enter your roll no."))
c=input("Enter your place")

Enter your nameRebecca
Enter your roll no.33
Enter your placeAroor

In [ ]:
Rebecca(a,b,c)

My name is Rebecca
My roll number is 33
My place is Aroor

In [ ]:
x=input("Enter your full name")
def firstname(x):
  print(x[0:8])
def secondname(x):
  print(x[8:12])
def lastname(x):
  print(x[13:21])

Enter your full nameRebecca Liza Verghese

In [ ]:
firstname(x)
secondname(x)
lastname(x)

Rebecca
Liza
Verghese

In [ ]:
x=int(input("Enter a value"))
y=int(input("Enter a value"))
def switch(x,y):
  print("The value is", x)
  print("The value is", y)

Enter a value10
Enter a value8

In [ ]:
switch(y,x)

The value is 8
The value is 10

In [ ]:
x=input("Enter your name")
def name(x):
  y=x.split()
  print ("Your first name is", y[0])
  print ("Your second name is", y[1])
  print ("Your last name is", y[2])

Enter your nameRebecca Liza Verghese

In [ ]:
name(x)

Your first name is Rebecca
Your second name is Liza
Your last name is Verghese

In [ ]:
  #swapping places of 2 digits
  number=int(input("Enter number"))
  reversed_number = 0

  while number !=0:
    digit = number % 10
    reversed_number = reversed_number* 10+digit
    number //= 10

  print(reversed_number)

Enter number35
53