<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-Revision/blob/main/30_01_Python_Revision_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#STRINGS
x= "This is \"Python\" programming"
print(x)

This is "Python" programming

In [ ]:
x='He\'s a doctor'
print(x)

He's a doctor

In [ ]:
x= "Hello\nWorld!"
print(x) # "\n" => next line

Hello
World!

In [ ]:
x= "Hello\tWorld!"
print(x) #'\t' => tab

Hello	World!

In [ ]:
print("\"Rebecca\" Liza Verghese")

"Rebecca" Liza Verghese

In [ ]:
print("He\'s a doctor")

He's a doctor

In [ ]:
print("Rebecca\nLiza\nVerghese")

Rebecca
Liza
Verghese

In [ ]:
x=[]
for i in range(0,4,1):
  n=input("Enter Name")
  a=int(input("Enter Index"))
  x.insert(a,n)
x

Enter NameAnn
Enter Index0
Enter NameLiz
Enter Index1
Enter NameMatt
Enter Index2
Enter NameMary
Enter Index3

['Ann', 'Liz', 'Matt', 'Mary']

In [ ]:
x=["Ann","Liz","Matt","Mary"]
y=int(input("Enter Index"))
n=input("Enter Name")
x.insert(y,n)
print(x)

Enter Index4
Enter NameLiju
['Ann', 'Liz', 'Matt', 'Mary', 'Liju']

In [ ]:
# 'def' => define function that can be used to replace repitation of same set of commands
def newname():
  y=int(input("Enter Index"))
  n=input("Enter Name")
  x.insert(y,n)

In [ ]:
newname()

Enter Index5
Enter NameRebecca

In [ ]:
print(x)

['Ann', 'Liz', 'Matt', 'Mary', 'Liju', 'Rebecca']

In [ ]:
def values():
  x=int(input("Enter Value"))
  y=int(input("Enter Value"))
  print("Sum",x+y)
  print("Difference",x-y)
  print("Product",x*y)
  print("Division",x/y)

In [ ]:
values()

Enter Value33
Enter Value3
Sum 36
Difference 30
Product 99
Division 11.0

In [ ]:
values()

Enter Value65
Enter Value35
Sum 100
Difference 30
Product 2275
Division 1.8571428571428572

In [ ]:
def math(a,b):
  print(a+b)

In [ ]:
x=int(input("Enter Value"))
y=int(input("Enter Value"))
math(x,y) # x will be stored in a, y will be stored in b

Enter Value30
Enter Value3
33

In [ ]:
def add():
  x=int(input("Enter Value"))
  y=int(input("Enter Value"))
  print("Sum",x+y)

In [ ]:
def subtract():
  x=int(input("Enter Value"))
  y=int(input("Enter Value"))
  print("Difference",x-y)

In [ ]:
def multiply():
  x=int(input("Enter Value"))
  y=int(input("Enter Value"))
  print("Product",x*y)

In [ ]:
def divide():
  x=int(input("Enter Value"))
  y=int(input("Enter Value"))
  print("Division", x/y)

In [ ]:
add()
subtract()
multiply()
divide()

Enter Value30
Enter Value3
Sum 33
Enter Value36
Enter Value3
Difference 33
Enter Value3
Enter Value11
Product 33
Enter Value99
Enter Value3
Division 33.0