<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-Revision/blob/main/Python_Revision_2_13_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hra=int(input("Enter HRA: "))
s=int(input("Enter Salary: "))
r=int(input("Enter Monthly Rent: "))
r1=hra
r2=(r*12)-(10/100*(s*12))
r3=50/100*(s*12)
a=[r1,r2,r3]
print(a)
z=min(a)
print("You are eligible for a HRA exemption of Rs", z)
if z>=150000 :
  S=(s*12)+hra-150000
else :
  S=(s*12)+hra-z

Enter HRA: 100000
Enter Salary: 50000
Enter Monthly Rent: 15000
[100000, 120000.0, 300000.0]
You are eligible for a HRA exemption of Rs 100000

In [ ]:
print(S)

600000

In [ ]:
x= S
if x<=250000:
  print("You are not taxable")
if x>250000 and x<=500000:
  a=(x-250000)*5/100
  print("You are taxable and amount is:",a)
if x>500000 and x<=750000:
  b=(x-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",b)
if x>750000 and x<=1000000:
  c=(x-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",c)
if x>1000000 and x<=1250000:
  d=(x-1000000)*20/100+(1000000-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",d)
if x>1250000 and x<=1500000:
  e=(x-1250000)*25/100+(1250000-1000000)*20/100+(1000000-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",e)
if x>1500000:
  c=(x-1500000)*30/100+(1500000-1250000)*25/100+(1250000-1000000)*20/100+(1000000-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",c)

You are taxable and amount is: 22500.0