<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-Revision/blob/main/Revision_23_01_Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x="Rebecca Liza Verghese"

In [ ]:
len(x)

21

In [ ]:
#LIST
x= ["John", "Mary", "David", "Adam"] #'List' should start n end with []
print(x)
type(x)

['John', 'Mary', 'David', 'Adam']

list

In [ ]:
x= [9076, "Rebecca", 19, 5/4/2003, "Aroor"]
print(x[0])
print(x[-1])

9076
Aroor

In [ ]:
x=[56,37,73,89,44,96,23,61,14,33]
x[0:1] #print only 0th no.
x[0:2] #does not include 2nd no.
x[0:5]

[56, 37, 73, 89, 44]

In [ ]:
x[-3:] #last 3 nos.

[61, 14, 33]

In [ ]:
x[7:]

[61, 14, 33]

In [ ]:
x=[56,37,73,89,44,96,23,61,14,33]
x[0]=4
print(x)

[4, 37, 73, 89, 44, 96, 23, 61, 14, 33]

In [ ]:
x= [9076, "Rebecca", 19, 5/4/2003, "Aroor"]
x[-1]="Rajagiri"
print(x)

[9076, 'Rebecca', 19, 0.0006240639041437844, 'Rajagiri']

In [ ]:
x=[3,6,9,12]
x.append(15) #add new data at the end of the list

[3, 6, 9, 12, 15]

In [ ]:
i=0
l=[]
while i<4:
  l.append(input("Enter your name"))
  i=i+1
print(l)

Enter your nameAnn
Enter your nameLiz
Enter your nameMatt
Enter your nameLiju
['Ann', 'Liz', 'Matt', 'Liju']

In [ ]:
x=["Ann", "Liz", "Matt", "Mary", "Verghese"]
y=x.copy()
print(y)

['Ann', 'Liz', 'Matt', 'Mary', 'Verghese']

In [ ]:
x=["Ann", "Liz", "Matt", "Mary", "Verghese"]
y=['A','L','M','M','V']
x.extend(y) #'extend' command used to merge 2 lists
print(x)
print(y)

['Ann', 'Liz', 'Matt', 'Mary', 'Verghese', 'A', 'L', 'M', 'M', 'V']
['A', 'L', 'M', 'M', 'V']

In [ ]:
x=[1,2,3,4,5,3,5,7,3,8,3]
x.count(3)

4

In [ ]:
x=["Ann", "Liz", "Matt", "Mary"]
x[1:3] = ["Sarah", "Ben"]
print(x)

['Ann', 'Sarah', 'Ben', 'Mary']

In [ ]:
x=["Ann", "Liz", "Matt", "Mary"]
x.insert(3, "Liju") #add new data anywhere within list
print(x)

['Ann', 'Liz', 'Matt', 'Liju', 'Mary']

In [ ]:
x=["Ann", "Liz", "Matt", "Mary"]
x.remove("Mary")
print(x)

['Ann', 'Liz', 'Matt']

In [ ]:
x=["Ann", "Liz", "Matt", "Mary"]
del x[0:2]
print (x)

['Matt', 'Mary']