<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-Revision/blob/main/Revision_20_01_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x=10
while x>1:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Requirement - add first 10 nos. (1+2+3+4....+10)
x=0
y=0
while x<=10:
  y=y+x #=> (y+x) = 0+0 =0, 0+1=1, 1+2=3, 3+3=6, 6+4=10, 10+5=15, 15+6=21, 21+7=28, 28+8=36, 36+9=45, 45+10=55 
  x=x+1 #+> (x+1)=> 0+1=1, 1+1=2, 2+1=3, 3+1=4, 4+1=5, 5+1=6....9+1=10
print(y)

55

In [ ]:
#To find factorial 
x=1
n=int(input("enter limit"))
s=1
while x<n+1:
  s=s*x
  x=x+1
  print(s)

enter limit5
1
2
6
24
120

In [ ]:
x=0
while x<10:
  x=x+1
  if x==5:
    break; #loop ends
  print(x)

1
2
3
4

In [ ]:
#To find factorial =>  (1*2*3*4*5...)
x=1
y=1
while x<10:
  y=y*x #=> (y=y*x) = 1*1=1*2=2*3=6*4=24*5=120
  x=x+1 #=> (x=x+1) = 1+1=2+1=3+1=4+1=5+1=6 (loop broken)
  if x==6:
    break;
print(y)

120

In [ ]:
x=0
while x<10:
  x=x+1
  if x==5:
    continue; # once x=5, any command under 'continue'is ignored for THAT loop
  print(x) # x=5 is not printed

1
2
3
4
6
7
8
9
10

In [ ]:
x=0
for x in range(100): # in 'for' loop, x will automatically print till 99
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#to find sum of 1st 101 nos.(1+2+3....+100)
y=0
for x in range(101):
  y=y+x
print(y)

5050

In [ ]:
#to find factorial
n=int(input("Enter Limit"))
y=1
for x in range(1,n+1): #(1, n+1)=> 1st value (1) = loop starts with 1   2nd value (n+1)/(5+1)= loop ends with value - does no include no 6
  y=y*x
print(y)

Enter Limit5
120

In [ ]:
for x in range(10):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [ ]:
for x in range(10):
  if x==5:
    continue;
  print(x)

0
1
2
3
4
6
7
8
9

In [ ]:
x="Rebecca Liza Verghese"
for a in x:
  print(a)

R
e
b
e
c
c
a

L
i
z
a

V
e
r
g
h
e
s
e

In [ ]:
x="Rebecca Liza Verghese"
for a in x:
  if a=="L":
    break;
  print(a)

R
e
b
e
c
c
a

In [ ]:
x="Rebecca Liza Verghese"
for a in x:
  if a=="i":
    continue;
  print(a)

R
e
b
e
c
c
a

L
z
a

V
e
r
g
h
e
s
e